@media (min-width: 601px);
.login-container,
.signup-container {
    max-width: 601px;
    height: auto;
    min-height: 500px;
    overflow-y: auto;
    -webkit-transition: .2s;
    transition: .2s;
}

<div class="card-text"><a href="{% url 'detail' post.id %}" class="invisible btn btn-primary">Detail</a><button type="button" class="invisible btn btn-primary btn-quickview" data-toggle="modal" data-post-id="{{post.id}}" data-target="#jobDetailModal">Quick View </button></div>