<head></head>
<body>
	

{%extends 'main/navbar.html'%}


{% block content %}


<div class="container">
	<h1>Log in</h1>
<form method="POST" action="{% url 'login'%}">
	{% if error%}
{{error}}
<br>
<br>
{%endif%}
	{%csrf_token%}
	{{form.non_field_errors}}
		<div class="fieldWrapper">
			{{form.username.errors}}
			<label for="{{form.username.id_for_label}}">Username:</label>
			<br>
			{{form.username}}
		</div>
		<div class="fieldWrapper">
			{{form.password.errors}}
			<label for="{{form.password.id_for_label}}">Username:</label>
			<br>
			{{form.password}}
		</div>

	<input type="submit", class="btn btn-primary">
</form>
</div>
{%endblock%}
</body>