<html>
<head>
	{%load static%}

  <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
  

</head>

<body>
	
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">JobSearch</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">      
      </ul>

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        {%if user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_detail' %}">{{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create' %}">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>

        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        {%endif%}
      </ul>



    </div>
  </nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  {%block content%}
  {%endblock%}


<footer class="text-muted">
    <div class="container text-center">
      <p>Have a happy {% now "Y" %}</p>
      </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="{%static 'bootstrap/js/bootstrap.min.js'%}" ></script>
  <script src="{%static 'custom/js/loadjobdata.js'%}" ></script>

</body>

</html>