{% extends 'main/navbar.html'%}

{%block content%}
<div class="d-flex justify-content-center">
	<div class="card p-5 " style="width: 40rem;">
		<div class="card-body">
			<h5 class="card-title">{{post.workplace}}</h5>
			<h6 class="card-subtitle">{{post.job}}</h6>
			<p>{{post.worktime}}</p>
			<p class="card-text">{{post.salary_display}}</p>
			<h6>Address:</h6>
			<p class="card-text">{{post.address}}</p>
			<h6>Description:</h6>
			<p class="card-text">{{post.description}}</p>
			<p class="card-text">Author: {{post.author.username}}</p>
			<p class="card-text">{{post.pub_date}}</p>
		</div>
	</div>	
	

{% if user.is_authenticated and user.username == post.author.username %}
<form action="{%url 'edit_post' post.id%}" method="post">
	{% csrf_token %}
	<input type="submit" class="btn btn-info" value="Edit">
</form>
<form action="{%url 'delete_post' post.id%}" method="post">
	{% csrf_token %}
	<input type="submit" class="btn btn-warning" value="Delete">
</form>
{%endif%}
</div>

{%endblock%}